.sidebar {
  min-width: 250px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 20px 0;
  text-align: center;
}

.sidebar img {
  display: block;
  margin: 0 auto 10px auto;
  width: 150px;
}

.sidebar a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding: 10px 0;
  transition: color 0.3s, background-color 0.3s;
}

.sidebar a:hover {
  color: #bb86fc;
  background-color: #333333;
  border-radius: 0.3rem;
}
