.home-container {
  display: flex;
  flex-direction: row;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color for contrast */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  overflow: auto;
}

.main-content {
  flex: 1;
  display: flex;
}

.username {
  color: #9333ea; /* Soft purple color */
}

.welcome-text {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
}

.right-home {
  width: 300px;
  background-color: #1e1e1e; /* Slightly lighter dark background for the sidebar */
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-text {
  font-size: 1.5rem;
  color: #ae81f5;
  font-weight: bold;
  margin-bottom: 15px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: none;
  border-radius: 5px;
  background-color: #333; /* Darker background for input */
  color: #e0e0e0; /* Light text color for contrast */
}

.search-bar .search-icon {
  position: absolute;
  left: 10px; /* Position the icon inside the input */
  color: #e0e0e0; /* Icon color to match the text */
  pointer-events: none; /* Make the icon unclickable */
}
.little-nav {
  display: flex;
  justify-content: space-between;
}

.notification {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.notification-icon {
  font-size: 30px; /* Adjust the size as needed */
  color: #e0e0e0; /* Icon color */
}

.message-icon {
  font-size: 25px; /* Adjust the size as needed */
  color: #e0e0e0; /* Icon color */
}

.message {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profile-home {
  text-align: center; /* Center content horizontally */
  width: 100%; /* Ensure it takes full width */
}

.profile-image {
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  object-fit: cover; /* Ensure the image covers the container */
}
