.home-container {
  display: flex;
  flex-direction: row;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color for contrast */
  min-height: 100vh; /* Ensure it covers the full viewport height */
}
.home-container::-webkit-scrollbar {
  width: 8px;
}

.home-container::-webkit-scrollbar-track {
  background: #121212;
}

.home-container::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 4px;
  border: 2px solid #121212;
}

.home-container::-webkit-scrollbar-thumb:hover {
  background-color: #bb86fc;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.username {
  color: #9333ea; /* Soft purple color */
}

.welcome-text {
  font-size: 3rem;
  margin: 20px;
  text-align: center;
}

.right-home {
  width: 300px;
  background-color: #1e1e1e; /* Slightly lighter dark background for the sidebar */
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}
